.App {
  text-align: center;
  background-color: #566246;
  max-height: max-content;
}

.task-bar {
  background-color: #96C5F7;
}

.add-button {
 align-items: left;
 background-color: #FFD791;
}

.delete-button {
  background-color: #FFD791;
}

.App-header {
  background-color: #857F74;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
